.Module {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  background-color: black;
  margin-bottom: 15px;
}

.Module-title,
.Module-description {
  color: white;
}

.Module h1,
.Module p {
  max-width: 30rem;
  margin: inherit auto;
}
